<p>Ask Away</p>
<hr><br>
<% if logged_in? %>
<%= form_for @question do |q|%>
	<%= q.label :Title %><br>
	<%= q.text_field :title, placeholder: "Type your question here" %> <br><br>
	<%=q.label :Description %><br>
	<%=q.text_area :body %><br>
 	<%=q.submit%>
  <%end%>
<% else %>
 <p>"Please login to ask a question"</p>
<% end %>

