<p><%= @question.title %></p>
<hr><br>
<%=@question.body%>
<br><br>
<% if @user == current_user %>
<%= link_to("edit", edit_question_path) %>
<%= link_to "destroy", question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<br>
<div class="answers"></div>
<%= button_tag "Answer question", id: "answer_question_button" %>

<%= form_tag ("/questions/#{@question.id}/answers"), id: "answer_form"  do %>
  <%= label_tag :Answer %> <br>
  <%= text_area_tag "answer[body]" %><br>
  <%= submit_tag "Submit answer" %>
<%end%>


