<p><%= @user.username %></p>
<hr><br>
<h3>Email:</h3>
<h3><%= @user.email %></h3>
<br>
<% if @user == current_user %>
<p><%= link_to('Edit Profile', edit_user_path) %>
  <% end %>
  <hr><br>

<%@user.questions.each do |question|%>
  <div class = "question_container">
    <ul>
      <h3>Questions</h3>
      <%= link_to(question) do%>
        <li><%=question.title%>?</li>
      <%end%>
    </ul>
  </div>
<%end%>


