<!DOCTYPE html>
<html>
<head>
  <title>DbcYoloFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to "Login", login_path, class: 'nav_links' %></li>
      <li><%= link_to "Signup", signup_path, class: 'nav_links' %></li>
    </ul>
    <div><%= link_to "Ask Question", new_question_path, class: 'nav_links' %></div>
  </nav>

  <h1 id="logo">dbc-yolo-flow</h1>

  <ul>
    <li><%= link_to "Questions", questions_path, class: 'menus' %></li>
    <li><%= link_to "Tags", tags_path,  class: 'menus' %></li>
    <li><%= link_to "Users", users_path,  class: 'menus' %></li>
    <li><%= link_to "Unanswered", unanswered_path,  class: 'menus' %></li>
  </ul>

  <%= yield %>

</body>
</html>
